@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@keyframes deslizar-arriba {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
